{{#partial "sites"}}

        <ol  class="list-group">

                <li class="list-group-item list-group-item-light" id="{{id}}"><strong>{{id}}. </strong><strong>Engineer Name: </strong>{{firstName}} {{secondName}}, <strong>Employee Number: </strong>  {{ekNo}}
                    <ol>
                        <span class="cell primary">Assigned Sites</span>
                        {{#each sites }}
                        <li><strong>SiteID: </strong> {{sitename}}</li>
                {{/each}}
                    </ol>
                </li>
                <hr class="mt-2 mb-5">

        </ol>
    {{else}}
        <p>No site</p>

{{/partial}}

{{> layout.hbs}}